html{
    height: 100%;
}
body{
    background-image: url('../image/wood.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center ; 
    height: 100%;
    background-attachment: fixed;
}

 /* them */
/* .tuvung li{
    display: none;
} */
/* .wrap .tuvung .active{
    display: block;
} */
/* .tuvung .item:not(:first-child){
    display: none;
} */
.item:not(.active) {
    display:none;
}

/* --------*/

ul li{
    list-style: none;
}
.content__header{
    text-align: center;
    padding: 10px;
    color: white;
}
.content__image{
    padding: 0 15%;
    text-align: center;
}
.content__image img{
    width: 50%;
    /* height: 400px; */
    /* height: auto; */
}
.button{
    display: flex;
    justify-content: center;
    position: fixed;
  /* top: 100%; */
}
.content__word{
    text-align: center;
}
.content__word p{
    font-size: 60px;
    color: white;
} 
.button__item{
    width: 10%;
}
.button img{
    width: 100%;
}
#back-button{
    width: 100px;
    float: left;
}
#topic_name{
    font-weight: 600;
    font-style: italic;
}




@media only screen and (max-width: 1200px){
    .button{
        margin-top:0;
    }
    .button__item {
        width: 14%;
    }
    .content__image img{
        width: 80%;
    }
}

@media only screen and (max-width: 992px){
    /* .button{
        margin-top:0;
    } */
    .button__item {
        width: 16%;
    }
    .content__image img{
        width: 95%;
    }
}
@media only screen and (max-width: 768px){
    .content__image {
        padding: 0 ;
      
    }
   
    .content__image img{
        width: 80%;
    }
}


@media only screen and (max-width: 576px){
    
    .button__item {
        width: 23%;
    }
    .content__image img{
        width: 98%;
    }
}


@media only screen and (max-width: 480px){
    .button{
        margin-top: 21px;
    }
    .button__item {
        width: 32%;
    }
    .content__image img {
        width: 100%;
    }
    #back-button {
        width: 70px;
      
    }
    .content__image {
        padding: 0 ;
      
    }
    .tuvung{
        margin-top: 66px;
    }

}
